
.cat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 16.66rem;
    margin: 0 .5rem .9rem .5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    border-radius:2%;
}

.cat .image-container {
    height: 16.66rem;
    margin-bottom: 0.4rem;
    border-radius:10%;
}

.cat h2 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #11420d;
    background-color: #FBF8BE;
    padding: 15px;
    border-radius:10rem;

    /*Royal Blue , Pale Yellow #FBF8BE*/
}

.cat-information {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.cat-information p {
    font-size: .88rem;
    font-weight: 300;
    line-height: 1.2rem;
}

.cat-origin {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.cat-reviews {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
}

.cat-reviews h3 {
    color: #CCA353;
    font-weight: 600;
}

.cat-reviews .adaptability {
    font-size: .98rem;
    line-height: 1rem;
}
.bold{
    font-weight: bold;
}
img {
    height:300rem;
    width:300rem;
}